<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>Vue.config.productionTip = false</script>
    <title>从一个 API 获取博文列表</title>
</head>
<body>
    <div id="app">
        <Secondcomponent 
        v-for="post in posts"
        :key="post.id"
        :title="post.title"></Secondcomponent>
        <!-- <ul>
            <li v-for="post in posts"
            :key="post.id"
            :title="post.title">
            {{post.title}}
        </li>
        </ul> -->
    </div>
        <template id="mySecondcomponent" >
            <p>{{title}}</p>
        </template>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                posts:[],
                message: '你好'
            },
            components:{
                data:{
                    return:{}
                },
                Secondcomponent: {
                    template: '#mySecondcomponent',
                    props: ['message'],  
                    // props: ['title'],
                    props:{
                        title:{
                            type: Object ,
                            default(){
                                return {}
                            }
                        }
                    }
                },
            },
            created: function(){
                var vm = this;
                fetch("https://jsonplaceholder.typicode.com/posts",{method:'get',cache :'reload'})
                .then(function(response){
                    return response.json();
                })
                .then(function(data){
                    vm.posts =data;
                });        
            }
        });
    </script>
</body>
</html>